html{
    contain: content;
}

body{
    font-family: 'Open Sans Light', sans-serif;
    margin: 0 auto;
    contain: content;
}

.alignment{
    margin: 0 auto;
    width: 85%;
}

.fltrt{
    float: right;
}

.fltlft{
    float: left;
}

.topBar{
    background-color: #316DC3;
    padding: 0;
}

nav{
    display: flex;
    justify-content: space-around;
}

.anchor-media{
    margin-top: 5px;
}

header a{
    text-decoration: none;
    color: black;
}

.icons{
    color:white;
    padding: 10px;
}

.color-changing{
    background-color: #2bff00;
    padding: 2px 4px;
}

.icons:hover{
    background-color: #4267b2;
}

.header-para{
    margin: 0;
    color: white;
    font-size: 15px;
}

.buttons{
    margin: 10px 0;
}

.buttons button{
    color: #427900;
    background-color: white;
    border: none;
    padding: 8px;
    font-size: 11px;
    cursor: pointer;
}

.nav-bar{
    display: none;
    padding: 18px;
    cursor: pointer;
}

.nav-bar:focus #main-dropup{
    display: block;
}

.nav-bar em{
    width: 20px;
    height: 3px;
    margin: 3.5px 20px 0;
    float: right;
    background: #777;
}

main{
    display: flex;
    position: relative;
    justify-content: space-around;
}

main img{
    width: 200px;
}

ul{
    display: flex;
    justify-content: space-around;
    padding: 13px 0;
    margin: 0;
    width: max-content;
    transition-delay: 1s;
    transition: all .5s ease
}

li{
    list-style-type: none;
    display: inline-block;
    padding: 8px 16px;
    font-size: 13px;
    border-radius: 15px;
    font-family: 'Open Sans Light', sans-serif;
    font-weight: bold;
    cursor: pointer;
    transition-delay: 1s;
    transition: all .5s ease;
    min-width: inherit;
    align-items: center;
    z-index: 99;
}

.single-colored{
    background-color: #316DC3;
}

li a{
    text-decoration: none;
    color: black;
    padding-bottom: 25px;
}

li:hover{
    background-color: #316DC3;
}

nav i{
    margin-left: 5px;
}

.dropup{
    position: relative;
}

.dropup:hover .dropdown{
    display: grid;
}

.dropdown{
    display: none;
    position: absolute;
    left: 0;
    top: 48px;
    background-color: white;
    padding: 0;
}

.dropdown li{
    border-radius: 0;
}

.dropup-deap{
    position: relative;
}

.dropup-deap:hover .dropdown-deap{
    display: grid;
}

.dropdown-deap{
    display: none;
    position: absolute;
    left: 41%;
    background-color: white;
    padding: 0;
}

.dropdown-deap li{
    border-radius: 0;
}

.dropdown-deap-service{
    left: 100%;
    top: 0;
}

.dropup-deapest{
    position: relative;
}

.dropup-deapest:hover .dropdown-deapest{
    display: grid;
}

.dropdown-deapest{
    display: none;
    position: absolute;
    left: 41%;
    top: 19.5%;
    background-color: white;
    padding: 0;
}

.dropdown-deapest li{
    border-radius: 0;
}

.dropdown-deapest-service{
    left:100%;
    top: 0;
}

.dropdown li:hover, .dropdown-deap li:hover, .dropdown-deap-service li:hover{
    padding-left: 20px;
} 


figure{
    margin: 0;
}

figure img{
    width: 100%;
}

.figure{
    position: relative;
    mix-blend-mode: hue;
}

.section-para{
    font-size: 14px;
    background-color: #316DC3;
    margin: 8px auto;
    color: #fff;
    width: 85%;
    font-weight: 500;
    overflow: hidden;
    white-space: nowrap;
}

marquee a{
    color: blue;
    text-decoration: none;
}

span{
    color: #00ff00;
}

figure a{
    text-decoration: none;
    color: blue;
}

.arrow-position-left{
    position: absolute;
    top: 50%;
    left: 0%;
    transform: matrix(1,0,0,1,30,-35);
    opacity: 0.2;
    color: white;
    background-color: grey;
    padding: 20px 25px;
    border-radius: 50%;
    cursor: pointer;
}

.arrow-position-right{
    position: absolute;
    top: 50%;
    left: 100%;
    transform: matrix(1,0,0,1,-100,-35);
    opacity: 0.2;
    color: white;
    background-color: grey;
    padding: 20px 25px;
    border-radius: 50%;
    cursor: pointer;
}

section i:hover{
    background-color: black;
    opacity: 0.7;
}

.main-data{
    background-color: #f7f8fa;
    float: left;
    padding-bottom: 60px;
}

.main-section{
    text-align: center;
    padding-top: 48px;
}

h1{
    text-transform: uppercase;
    color: #316DC3;
    font-size: 35px;
    font-family: 'Merriweather', serif;
}

h1 span{
    color: #427900;
}

.main-title{
    position: relative;
}

.main-title:after , .main-title:before {
    background-color: #427900;
}

.main-title::before{
    content: "";
    height: 2px;
    position: absolute;
    right: 53%;
    top: 75%;
    width: 36px;
}

.main-title::after{
    content: "";
    height: 2px;
    position: absolute;
    left: 53%;
    top: 75%;
    width: 36px;
}

.main-para{
    margin: 0 auto;
    line-height: 2;
    font-size: 14px;
    width: 85%;
    opacity: 0.4;
    margin-bottom: 48px;
    letter-spacing: 1px;
    word-spacing: 0.5px;
}

.help-side{
    background-color: #316DC3;
    margin: 0 auto;
}

.help-desk h1,.help-desk p{
    color: white;
    font-weight: 600;
    font-family: 'Merriweather', serif;
}

.help-desk{
    width: 25%;
    text-align: center;
    float: left;
    margin: 10% 0px;
}

.image-icon{
    max-width: 100%;
    height: 40px;
}

.container{
    margin: 0 auto;
    width: 85%;
    display: flex;
}

.content-align{
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0 auto;
    width: 85%;
    display: flex;
}

.content{
    text-align: center;
    background-color: #fff;
    box-shadow: 0px 8px 20px 0px #ccc;
    padding: 25px 0;
    margin-top: 30px;
    width: 32%;
}

.content:nth-child(3), .content:nth-child(6){
    margin-right: 0;
}

.content img{
    width: 70px;
    cursor: pointer;
}

.content h3{
    color: #316DC3;
    text-transform: uppercase;
    font-family: 'Merriweather', serif;
}

.project{
    margin-top: 58px;
    position: relative;
    float: left;
    width: 67%;
}

.container h2{
    font-family: 'Merriweather', serif;
    color: #316DC3;
    text-transform: uppercase;
}

.project:before {
    background-color: #427900;
}

.project::before{
    content: "";
    height: 2px;
    position: absolute;
    width: 55px;
    top: 20%;
}

.project-gallery{
    float: left;
    background-color: #f7f8fa;
    border: 1px solid #e8ebec;
    margin: 25px 13px 10px 0;
    width: 47%;
    padding: 11px 0;
}

.project-gallery img{
    float: left;
    margin: 10px 0px 10px 20px;

}

.project-gallery h4{
    float: left;
    margin-left: 38px;
    font-size: 15px;
    text-transform: uppercase;
    color: #316DC3;
    font-family: 'Merriweather' serif;
}

.event{
    float: left;
    margin-top: 58px;
    position: relative;
    width: 33%;
}

.event h2{
    margin-left: 30px;
    text-transform: capitalize;
    width: 215px;
}

.event:after {
    background-color: #427900;
}

.event::after{
    content: "";
    height: 2px;
    position: absolute;
    width: 50px;
    top: 20%;
    left: 10%;
}

.event::before {
    background-color: #d5d7da;
}

.event::before{
    content: "";
    height: 1px;
    position: absolute;
    width: 240px;
    top: 20%;
    left: 23%;
}

.event marquee{
    margin-top: 30px;
    height: 230px;
    width: 250px;
    margin-left: 30px;
    font-size: 15px;
    color: #666;
}

.gallery-section{
    margin-bottom: 30px;
}

.main-thumbnail{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 85%;
    margin: 0 auto;
}

.thumbnail{
    position: relative;
}

.thumbnail img{
    width: 225px;
    margin-left: 1px;
    margin-top: 40px;
    transition: transform .4s;
}

.thumbnail:first-child{
    margin-left: 0;
}

.thumbnail:last-child{
    margin-right: 0;
}

.thumbnail img:hover{
    opacity: 0.2;
    margin-left: 3px;
    margin-right: 3px;
    transform: scale(1.01,1.01);
    max-width: 200px;
    border: 10px solid black;
}

.image-download{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%);
    display: none;
}

.image-download i{
    background: #316DC3;
    border-radius: 50%;
    color: white;
    padding: 7px;
    cursor: pointer;
}

.thumbnail:hover .image-download{
    display: block;
    vertical-align: middle;
}

.thumbnail:hover i{
    background: #316DC3;
    opacity: 1;
}

footer{
    background-color: rgb(26, 25, 25);
    float: left;
    width: 100%;
}

.contain-footer{
    margin: 0 auto;
    width: 85%;
    display: flex;
    justify-content: space-between;
}

.content-footer{
    padding:70px 0;
    width: 33%;
}

.contain-footer h5{
    color: #666;
    font-size: 13px;
}

.contain-footer i{
    color: #53e453;
    margin-left: 10px;
}

.contain-footer span{
    color: #666;
    display: grid;
    margin-left: 30px;
    font-size: 13px;
    font-family: 'Merriweather', serif;
}

.footer-contact{
    padding-top: 10px;
}

.footer-link{
    position: relative;
    padding-top: 50px;
    font-size: 16px;
    font-family: 'Merriweather', serif;
    color: #fff;
    width: 33%;
}

.footer-link:after {
    background-color: #427900;
}

.footer-link::after{
    content: "";
    height: 2px;
    position: absolute;
    width: 50px;
    top: 30%;
    left: 0;
}

.footer-link:before {
    background-color: #d5d7da;
}

.footer-link::before{
    content: "";
    height: 1px;
    position: absolute;
    width: 100%;
    top: 30.1%;
    left: 0;
}

.footer-connect{
    font-size: 16px;
    font-family: 'Merriweather', serif;
    color: #fff;
    padding-top: 50px;
    width: 33%;
}

.footer-connect a{
    text-decoration: none;
    color: white;
}

.footer-connect i{
    color: white;
}

.fb{
    display: inline-block;
}

.fb i{
    width: 12px;
    text-align: center;
    margin-left: 0;
}

.icon-footer{
    background-color: #316DC3;
    border-radius: 50%;
    padding: 8px 10px;
    margin: 0 10px;
}

.footer-copyright{
    background-color: #316DC3;
    color: #fff;
    width: 100%;
    float: left;
}

.footer-copyright p{
    font-size: 12px;
    margin: 0 auto;
    width: 85%;
    padding: 20px 0;
}

.button-footer-to-top{
    position: relative;
}

.button-footer-to-top button{
    position: fixed;
    bottom: 35px;
    right: 2%;
    padding: 4px 12px;
    background-color: black;
    opacity: 0.1;
    color: white;
    border: none;
    cursor: pointer;
}

.button-footer-to-top i{
    color: white;
    font-size: 40px;
}

.button-footer-to-top button:hover{
    opacity: 0.8;
}

@media only screen and (max-width:1125px){
    .buttons button:last-child{
        display: grid;
        margin: 5px 0;
    }

    .footer-contact{
        clear: both;
    }

}

@media only screen and (max-width:990px){
    .nav-data{
        display: grid;
        text-align: center;
    }

    .buttons{
        display: flex;
        justify-content: space-evenly;
        width: 250px;
        margin-right: auto;
        margin-left: auto;
    }

    .buttons button:last-child{
        margin: 0;
    }

    main{
        display: grid;
    }   

    .help-desk{
        width: 100%;
       margin: 30px 0 40px;
    }

    .project{
        width: 100%;
    }
    
    .container{
        display: grid;
    }

    .content{
        width: 49%;
    }
    
    .contain-footer{
        display: block;
    }

    .content-footer, .footer-connect, .footer-link{
        float: left;
        width: 50%;
    }

    .footer-link::after, .footer-link::before{
        top: 100%;
    }

    .footer-link::before{
        width: 100%;
    }
}

@media only screen and (max-width:900px){
    #main-dropup{
        clear: both;
        display: none;
    }

    .logo{
        float: left;
    }

    main{
        display: block;
    }

    .nav-bar{
        display: grid;
        float: right;
    }
}

@media only screen and (max-width:767px){
    .help-desk, .content, .project-gallery{
        width: 100%;
    }

    #main-dropup{
        overflow: scroll;
    }

    ul{
        display: grid;
    }

    li{
        border-radius: 0;
    }

    .dropdown, .dropdown-deap, .dropdown-deapest {
        left: 100%;
        top: 0;
    }

    .project::before{
        top: 11%;
    }

    .event::before{
        width: 580px;
    }

    .thumbnail img{
        width: 100%;
    }

    .thumbnail img:hover{
        max-width: 90%;
    }

    .footer-contact{
        clear: none;
        float: left;
    }

    .content-footer, .footer-link, .footer-connect{
        width: 100%;
        padding: 0;
    }

    .footer-connect{
        padding-bottom: 70px;
    }

    .content-footer{
        padding-top: 70px;
    }
}

@media only screen and (max-width:531px){
    .project::before{
        top: 15%;
    }
}